{% extends "base.html" %}

{% block title %}
    Alexander Naumov :: blog
{% endblock %}

{% block navi %}
    <a href="/" class="nav-link">HOME</a>
    <a href="portfolio" class="nav-link">PORTFOLIO</a>
    <a href="blog" class="nav-link active">BLOG</a> |
    {% if current_user.is_authenticated %}
        <a href="account" class="nav-link">ACCOUNT</a>
        <a href="logout" class="nav-link">LOGOUT</a>
    {% else %}
        <a href="login" class="nav-link">LOGIN</a>
        <a href="register" class="nav-link">REGISTER</a>
    {% endif %}
{% endblock %}

{% block content %}

    <section class="blog-section">
        <div class="blog-posts-wrapper">
            <div>
                <h2 class="section-title">LATEST NEWS</h2>
            </div>
            <div class="pull-right">
                {% if current_user.is_authenticated %}
                    <a class="btn btn-download-cv btn-primary rounded-pill" href="/new_post">Create Post
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="blog-posts-wrapper">
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_1.jpg" alt="news 1" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>

                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_2.jpg" alt="news 2" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>
                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_3.jpg" alt="news 3" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>
                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_4.jpg" alt="news 4" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>
                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_5.jpg" alt="news 5" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>
                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
            <article class="blog-post">
                <a href="#!" class="blog-post-link">
                    <img src="assets/images/News_6.jpg" alt="news 6" class="blog-post-thumbnail">
                    <h5 class="blog-post-title">Design Conferences in 2019</h5>
                </a>
                <p class="blog-post-meta">
                    <span class="post-published-date">28 DEC 2019</span>
                    <a href="#!" class="post-comments">3 COMMENTS</a>
                </p>
            </article>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="assets/vendors/entry/jq.entry.min.js"></script>
{% endblock %}
