{% extends "base.html" %}

{% block title %}
    Alexander Naumov
{% endblock %}

{% block navi %}
    <a href="/" class="nav-link active">HOME</a>

    <a href="portfolio" class="nav-link">PORTFOLIO</a>
    <a href="blog" class="nav-link">BLOG</a>
    <a href="login" class="nav-link">LOGIN</a>
    <a href="register" class="nav-link">REGISTER</a>
{% endblock %}

{% block content %}

    <section class="intro-section">
        <h2 class="section-title">Hello!</h2>
        <p>I am Alexander Naumov, python developer.
            Currently, I am working as Software and Electrical test engineer in Nissan Technical center Europe -
            Russia.
            I have a personal project <a href="https://newwords.site">NewWords.site</a>.
            If you like it, don't forget to install mobile application.</p>
    </section>
    <section class="resume-section">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">EDUCATION</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2015 - 2022</span>
                        <h6 class="time-line-item-title">Phd in engineering</h6>
                        <p class="time-line-item-subtitle">Peter the Great St.Petersburg Polytechnic University</p>
                        <p class="time-line-item-content">Numerical experiments and approximation methods in
                            mechanics</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2021 - 2022</span>
                        <h6 class="time-line-item-title">Python developer</h6>
                        <p class="time-line-item-subtitle">GeekBrains University</p>
                        <p class="time-line-item-content"> Django, REST, Flask, Wsgi
                        </p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2009 - 2014</span>
                        <h6 class="time-line-item-title">Mechanical engineer</h6>
                        <p class="time-line-item-subtitle">Peter the Great St.Petersburg Polytechnic University</p>
                        <p class="time-line-item-content">Road construction and hoisting vehicles
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2022</span>
                        <h6 class="time-line-item-title">Python Developer</h6>
                        <p class="time-line-item-subtitle"><a href="https://newwords.site">NewWords.site</a> (personal
                            project)</p>
                        <p class="time-line-item-content">Backend: django. Frontend: html, css, js, Ajax. Android app:
                            Java. Deployed on VPS (nginx + gunicorn). SMTP: VK workplace.</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2021 - 2022</span>
                        <h6 class="time-line-item-title">Software & electric test engineer</h6>
                        <p class="time-line-item-subtitle">Nissan Technical center Europe -
                            Russia</p>
                        <p class="time-line-item-content">E2E testing of Nissan connecting services and Infinity intouch
                            (mobile apps & client-server apps). Functional, Performance and reliability tests of
                            vehicle's main electric componencts: head-up display, IVI, Rain&light sensors, USM & etc.
                        </p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2015 - 2021</span>
                        <h6 class="time-line-item-title">R&D engineer</h6>
                        <p class="time-line-item-subtitle">Nissan Technical center Europe -
                            Russia</p>
                        <p class="time-line-item-content">Development of interior parts for Nissan Qashqai, X-trail,
                            Teana, Murano.
                        </p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2014 - 2015</span>
                        <h6 class="time-line-item-title">design engineer</h6>
                        <p class="time-line-item-subtitle">Allentech</p>
                        <p class="time-line-item-content">Development of facility's prototypes for medical recycling.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {#        <section class="services-section">#}
    {#            <h6 class="section-subtitle">WHAT I DO</h6>#}
    {#            <h2 class="section-title">SERVICES</h2>#}
    {#            <div class="row">#}
    {#                <div class="media service-card col-lg-6">#}
    {#                    <div class="service-icon">#}
    {#                        <img src="assets/images/001-target.svg" alt="target">#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h5 class="service-title">web designing</h5>#}
    {#                        <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed#}
    {#                            tortor.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="media service-card col-lg-6">#}
    {#                    <div class="service-icon">#}
    {#                        <img src="assets/images/003-idea.svg" alt="bulb">#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h5 class="service-title">Graphic design</h5>#}
    {#                        <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed#}
    {#                            tortor.#}
    {#                        </p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="media service-card col-lg-6">#}
    {#                    <div class="service-icon">#}
    {#                        <img src="assets/images/002-development.svg" alt="development">#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h5 class="service-title">Development</h5>#}
    {#                        <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed#}
    {#                            tortor.#}
    {#                        </p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="media service-card col-lg-6">#}
    {#                    <div class="service-icon">#}
    {#                        <img src="assets/images/004-smartphone.svg" alt="smartphone">#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h5 class="service-title">Mobile design</h5>#}
    {#                        <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed#}
    {#                            tortor.#}
    {#                        </p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}
    {#        <section class="testimonial-section">#}
    {#            <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">#}
    {#                <div class="carousel-inner">#}
    {#                    <div class="carousel-item active">#}
    {#                        <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed tortor.</p>#}
    {#                        <img src="assets/images/Profile.png" alt="profile" class="testimonial-img">#}
    {#                        <p class="testimonial-name">Nout Golstein</p>#}
    {#                    </div>#}
    {#                    <div class="carousel-item">#}
    {#                        <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed tortor.</p>#}
    {#                        <img src="assets/images/Profile.png" alt="profile" class="testimonial-img">#}
    {#                        <p class="testimonial-name">Nout Golstein</p>#}
    {#                    </div>#}
    {#                    <div class="carousel-item">#}
    {#                        <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
    {#                            interdum sed tortor.</p>#}
    {#                        <img src="assets/images/Profile.png" alt="profile" class="testimonial-img">#}
    {#                        <p class="testimonial-name">Nout Golstein</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <ol class="carousel-indicators">#}
    {#                    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>#}
    {#                    <li data-target="#testimonialCarousel" data-slide-to="1"></li>#}
    {#                    <li data-target="#testimonialCarousel" data-slide-to="2"></li>#}
    {#                </ol>#}
    {#            </div>#}
    {#        </section>#}
{% endblock %}